<div class="topic container">
<h1>Welcome to COOL FORUM BRO (working name)</h1>
<h2>Server announcements</h2>
<h3>Top 3 Posts by upvotes!</h3>
</div>
<div>
  <% @top_topics.each do |topic| %>
  <div class="eight columns topic">
    <a href="/topic_thread/<%= topic["id"] %>"><h4 class ="nomargin"><%= topic["title"] %></h4></a>
    <div>Posted by: <a href="/user/<%= topic["user_id"] %>"><%= topic["name"] %></a></div>
    <div class="topic container"><%= topic["content"] %></div>
    <div><%= topic["upvotes"] %> Upvotes</div>
    <div>Responses: <%= topic["responses"] %></div>
  </div>
  <% end %>
</div>