<% if session['logged_in'] %>
  <div class="container">
    <h1><%= @user["name"] %></h1>
    <img src="<%= avatar_url(@user) %>" alt="profile picture"> 
    <div><%= @user["real_name"] %></div>
    <div><%= @user["about"] %> </div>
    <% if @user_topics.any? %>
      <h4> Topics: </h4>
      <% @user_topics.each do |topic| %>
        <div class="container">
          <a href="/topic_thread/<%= topic["id"] %>">
            <h4><%= topic["title"] %></h4>
          </a>
          <div><%= topic["content"] %></div>
          <div><%= topic["upvotes"] %> Upvotes</div>
          <div>Responses: <%= topic["responses"] %></div>
        </div>
      <% end %>
    <% else %>
    <% end %>

    <% if @user_comments.any? %>
      <h4> Comments: </h4>
       <% @user_comments.each do |comment| %>
        <div class="container">
        <div><%= comment["content"] %></div>
        </div>
      <% end %>
    <% end %>  
  </div>
<% else %>
  <h1>Nothing to see here, Bro</h1>
<% end %>