
<% if session['logged_in'] %>
  <div class="topic container">
    <h1><%= @user["name"] %></h1>
    <% if @user["img_link"].empty? %>
      <img src="<%= avatar_url(@user) %>" alt="profile picture">    
    <% else %>
      <img src="<%= @user["img_link"] %>" alt="profile picture" class="imgformat"> 
    <% end %>
    <div><%= @user["real_name"] %></div>
    <div class="topic container"><%= @user["about"] %> </div>
    <div>User since: <%= @user["created_at"].slice(0..10) %></div>
  </div>
<% else %>
  <h1 class="topic container">Log in to see Profile!</h1>
 <% end %>


<% if @user_topics.any? %>
  <div class="topic container">
  <h4> Topics: </h4>
  <% @user_topics.each do |topic| %>
    <div class="topic container">
      <a href="/topic_thread/<%= topic["id"] %>">
        <h4><%= topic["title"] %></h4>
      </a>
      <div><%= topic["content"] %></div>
      <div><%= topic["upvotes"] %> Upvotes</div>
      <div>Responses: <%= topic["responses"] %></div>
      <% if topic["created_at"] == topic["updated_at"] %>
        <div>Created at: <%= topic["created_at"].slice(0..19) %></div>
      <% else %>
        <div>Edited at: <%= topic["updated_at"].slice(0..19) %></div>
      <% end %>
    </div>
    <!-- edit feature -->
    <% if session['user_id'] == topic['user_id'].to_i %>
     <details>
       <summary class="button">Edit Topic</summary>
        <div class="topic container">
          <form method="post" action="/update_topic/<%= topic['id'] %>">
            <input type ="hidden" name="_method" value="put">
            <label for="content">Enter text here. </label>
            <textarea name="content" required><%= topic["content"] %></textarea> 
            <input type="submit" value="Submit Edit" class="button">
          </form> 
        </div>
     </details>
      <% end %>

  <% end %>
  </div>
<% end %>

<% if @user_comments.any? %>
  <div class="topic container">
    <h4> Comments: </h4>
    <% @user_comments.each do |comment| %>
      <div class="topic container">
      <div>
      <a href="/topic_thread/<%= comment["topics_id"] %>">
        <h6>Link to Thread</h6>
      </a>
      </div>
      <div><%= comment["content"] %></div>

      <% if comment["created_at"] == comment["updated_at"] %>
        <div>Created at: <%= comment["created_at"].slice(0..19) %></div>
      <% else %>
        <div>Edited at: <%= comment["updated_at"].slice(0..19) %></div>
      <% end %>

      <!-- edit only your topics -->
      <% if session['user_id'] == comment['user_id'].to_i %>
        <details>
          <summary class="button">Edit Comment</summary>
            <div class="topic container">
              <form method="post" action="/update_comment/<%=comment['id']%>">
                <input type ="hidden" name="_method" value="put">
                <label for="content">Enter text here. </label>
                <textarea name="content" required><%= comment["content"] %></textarea> 
                <input type="submit" value="Submit Edit" class="button">
              </form> 
            </div>
        </details>
      <% end %>

      </div>
    <% end %>
  </div>
<% end %>